* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    padding: 15px 30px;
}

img {
    max-width: 100%;
    height: 250px;

}

.icon-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.icon-container {
    display: inline-flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.content h2, .content a, .content img {
    margin-top: 20px;
}

.content h3, .content p, .content ul {
    text-align: center;
    width: 100%;
}

.content ul, .content li {
    list-style-position: inside;
    list-style-type: none;
}